body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

	/* Taken from uigradients.com */
	background: #009fff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec2f4b, #009fff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ec2f4b, #009fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}

h1 {
	text-align: center;
	color: whitesmoke;
}

h2 {
	text-align: center;
}

footer {
	padding: 1em 0 1em 0;
	text-align: center;
}

/* Form styling */
form {
	margin: 2em auto 0;
	padding: 1em 1em 2em;
	text-align: center;
}

input {
	margin: 1em auto;
	width: 100%;
	max-width: 350px;
	padding: 1em;
	border: 2px solid rgb(0, 74, 68);
	display: block;
	color: black;
}

button {
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	border: 2px solid black;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 0.5em 1em;
	width: 100%;
	max-width: 380px;
}

/* Tools bar styling */
.tools-grid select {
	border: 2px solid black;
	padding: 1em;
	margin: 1em;
	width: 100%;
	max-width: 350px;
}

.tools-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0.5em;
	gap: 1em;
}

#favoritesCheckBox {
	border: 2px solid black;
	height: 35px;
	width: 35px;
	margin: 0 1em;
}

#checkbox-favorites {
	display: flex;
	align-items: center;
	justify-content: center;
}

#favorites {
	align-items: center;
	justify-content: center;
	display: flex;
}

/* Grid styling on main */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	padding: 1em;
}

@media (min-width: 700px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1100px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1400px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.grid-item {
	background-color: rgba(0, 0, 0, 0.606);
	padding: 1em;
	color: white;
}

.grid-item img {
	width: 100%;
	height: 300px;
}

.btns {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
